<div class="container">
    <div class="cartItem" *ngFor="let cartItem of cart">
        <div class="itemInfo">
            <span class="itemId">{{getProductName(cartItem)}}</span>

            <span class="itemQuantity">Item Quantity: {{cartItem.quantity}}</span>
        </div>
        <div class="buttons">
            <button class="add" (click)="addToCart(cartItem)">+</button>
            <button class="remove" (click)="removeFromCart(cartItem)">-</button>
        </div>

    </div>
    <div *ngIf="cart.length === 0" class="cartItem">
        <span>cart is empty</span>
    </div>
</div>